* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
DOCS/keyboard_shortcuts.txt -text
DOCS/tech/dbus.txt -text
DOCS/tech/plugin-interaction.txt -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/compile -text
/config.guess -text
/config.h -text
/config.h.in -text
/config.sub -text
/configure -text
/configure.in -text
debian/Makefile.am -text
debian/Makefile.in -text
debian/changelog -text
debian/compat -text
debian/control -text
debian/copyright -text
debian/dirs -text
debian/docs -text
debian/files -text
debian/gnome-mplayer.1 -text
debian/gnome-mplayer.manpages -text
debian/gnome-mplayer.postinst.debhelper -text
debian/gnome-mplayer.postrm.debhelper -text
debian/gnome-mplayer.substvars -text
debian/menu -text
debian/rules -text
debian/watch -text
/depcomp -text
/gnome-mplayer.desktop -text
/gnome-mplayer.png -text svneol=unset#unset
/gnome-mplayer.schemas -text
/gnome-mplayer.spec.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
/mkinstalldirs -text
pixmaps/gnome_mplayer.xpm -text
pixmaps/media-playback-pause.xpm -text
pixmaps/media-playback-start.xpm -text
pixmaps/media-playback-stop.xpm -text
pixmaps/media-seek-backward.xpm -text
pixmaps/media-seek-forward.xpm -text
pixmaps/media-skip-backward.xpm -text
pixmaps/media-skip-forward.xpm -text
pixmaps/view-fullscreen.xpm -text
po/ChangeLog -text
po/Makefile.in.in -text
po/POTFILES.in -text
po/bg.po -text
po/de.po -text
po/el.po -text
po/en.po -text
po/es.po -text
po/fr.po -text
po/gnome-mplayer.pot -text
po/it.po -text
po/ja.po -text
po/ko.po -text
po/pl.po -text
po/pt_BR.po -text
po/ro.po -text
po/ru.po -text
po/sr.po -text
po/sr@latin.po -text
po/sv.po -text
po/tr.po -text
po/zh_CN.po -text
po/zh_HK.po -text
po/zh_TW.po -text
src/Makefile.am -text
src/Makefile.in -text
src/common.h -text
src/dbus-interface.c -text
src/dbus-interface.h -text
src/gui.c -text
src/gui.h -text
src/langlist.h -text
src/libgmlib/Makefile.am -text
src/libgmlib/Makefile.in -text
src/libgmlib/gm_file.c -text
src/libgmlib/gm_file.h -text
src/libgmlib/gm_parse.c -text
src/libgmlib/gm_parse.h -text
src/libgmlib/gm_pref_store.c -text
src/libgmlib/gm_pref_store.h -text
src/libgmlib/gm_strfuncs.c -text
src/libgmlib/gm_strfuncs.h -text
src/libgmlib/gmlib.h -text
src/libgmtk/Makefile.am -text
src/libgmtk/Makefile.in -text
src/libgmtk/gmtk.h -text
src/libgmtk/gmtk_audio_meter.c -text
src/libgmtk/gmtk_audio_meter.h -text
src/libgmtk/gmtk_media_tracker.c -text
src/libgmtk/gmtk_media_tracker.h -text
src/main.c -text
src/mime_types.h -text
src/mntent_compat.c -text
src/mntent_compat.h -text
src/nautilus_property_page.c -text
src/playlist.c -text
src/playlist.h -text
src/support.c -text
src/support.h -text
src/thread.c -text
src/thread.h -text
